# APP
LOGGER_LVL = "DEBUG" #DEBUG INFO
TOKEN_BOT = ""
SECRET_KEY = ""

# DATABASE
DB_USER = "postgres"
DB_NAME = "postgres"
DB_PASSWORD = "postgres"
DB_PORT = 5432
DB_HOST = "docker-container-database"

# HTTP
HTTP_BACKEND_PORT = 8080
HTTP_FRONT_PORT = 5173
NGINX_HTTP_PORT = 8000

# DOCKER
HTTP_BACKEND_DOCKER_PORT = 8080
HTTP_FRONT_DOCKER_PORT = 5173
REDIS_DOCKER_PORT = 6379
DB_DOCKER_PORT = 5432

# REDIS

REDIS_HOST = "docker-container-redis"
REDIS_PORT = 6379

